body{
    /*background-color: rgba(20,20,20,0.4);   */ 
    background-repeat: repeat-y;
    background-image: url("tennis/roger.jpg");
    background-size: cover;
    background-attachment: fixed; 
}

table{
    background-color: rgba(180, 180, 180, 0.2);
    width: 60%;
    color: lightblue;
    
}

table,td{
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 7px;
}
th{
    border: 1px solid black;
    background-color: bisque;
    color: black;
}

div.mrgn{
    margin-left: 180px;
}